{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<ol class="tag breadcrumb">
    <li><a href="#">Donate US</a></li>
</ol>

<style>
    .card {
        margin: 5px 5px 5px 5px;
    }
</style>


<div class="row justify-content-center">
    <div class="card col-lg-4">
        <div class="card-header">
            <img src="https://www.pngitem.com/pimgs/m/456-4560596_tether-usdt-icon-tether-logo-png-transparent-png.png" style="margin-right: 5px;" width="30" height="30">
            Tether
        </div>
        <div class="card-body">
            <pre>0xE2bce69AfE978ABCf5c7d2356b59ec892526Eb53</pre>
        </div>
    </div>
    <div class="card col-lg-4">
        <div class="card-header">
            <img src="http://assets.stickpng.com/images/5a521fa72f93c7a8d5137fcf.png" style="margin-right: 5px;" width="30" height="30">
            Bitcoin
        </div>
        <div class="card-body">
            <pre>bc1qtpwhnexzh905famvv7ltl87r223lzuh4wj47u8</pre>
        </div>
    </div>
    <div class="card col-lg-4">
        <div class="card-header">
            <img src="https://previews.123rf.com/images/mingirov/mingirov1902/mingirov190200850/118483237-cryptocurrency-coin-ethereum-eth-icon-isolated-on-transparent-background-physical-bit-coin-digital-c.jpg" style="margin-right: 5px;" width="30" height="30">
            Ethereum
        </div>
        <div class="card-body">
            <pre>0xE2bce69AfE978ABCf5c7d2356b59ec892526Eb53</pre>

        </div>
    </div>
    <div class="card col-lg-4">
        <div class="card-header">
            <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/tron-4441424-3679719.png" style="margin-right: 5px;" width="30" height="30">
            Tron
        </div>
        <div class="card-body">
            <pre>TEsshdPRd3QEiB3Ri7K7bvVwh3AWbXC88B</pre>

        </div>
    </div>
    <div class="card col-lg-4">
        <div class="card-header">
            <img src="https://cryptologos.cc/logos/decentraland-mana-logo.png" style="margin-right: 5px;" width="30" height="30">
            Decentreland
        </div>
        <div class="card-body">
            <pre>0xE2bce69AfE978ABCf5c7d2356b59ec892526Eb53</pre>

        </div>
    </div>
    <div class="card col-lg-4">
        <div class="card-header">
            <img src="https://cryptologos.cc/logos/shiba-inu-shib-logo.png" style="margin-right: 5px;" width="30" height="30">
            SHIBA INU
        </div>
        <div class="card-body">
            <pre>0xE2bce69AfE978ABCf5c7d2356b59ec892526Eb53</pre>

        </div>
    </div>
</div>



{% endblock content %}