{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<ol class="tag breadcrumb">
    <li><a href="#">{{profile.username}} Profile</a></li>
</ol>


<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="card">
            <div class="card-header">
                {% if profile.get_full_name %}
                {{profile.get_full_name}}
                {% else %}
                {{profile.username}}
                {% endif %}
            </div>
            <div class="card-body">
                <div class="col-lg-3 col-md-6 col-sm-10">
                    <label for="id_first_name">first_name: </label>
                    {{profile.first_name}}
                </div>
                <div class="col-lg-3 col-md-6 col-sm-10">
                    <label for="id_last_name">last_name: </label>
                    {{profile.last_name}}
                </div>
                <div class="col-lg-3 col-md-6 col-sm-10">
                    <label for="id_username">username :</label>
                    {{profile.username}}
                </div>
                <div class="col-lg-3 col-md-6 col-sm-10">
                    <label for="id_email">email :</label>
                    {{profile.email}}
                </div>
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <label for="id_profile_photo">profile_photo :</label>
                    <img class="img-rounded" src="{{profile.profile_photo.url}}" width="30px" height="30px">
                </div>
                <div class=" col-lg-6 col-md-8 col-sm-10">
                    <label for="id_resume">resume: </label>
                    {% if profile.resume %}
                    <a href="{{profile.resume.url}}">Download Resume</a>
                    {% else %}
                    <a>There isnt resume</a>
                    {% endif %}
                </div>
                <div class="col-lg-4 col-sm-12 col-md-6">
                    <label for="id_intro_url">intro url :</label>
                    {{profile.intro_url}}
                </div>
                <div class="col-lg-4 col-sm-12 col-md-6">
                    <label for="id_phone">phone :</label>
                    {{profile.phone}}
                </div>
                <div class="col-lg-4 col-sm-12 col-md-6">
                    <label for="id_short_about">short_about :</label>
                    {{profile.short_about}}
                </div>
                <div class="col-lg-10 col-sm-12 col-md-10">
                    <label for="id_about">about :</label>
                    {{profile.about}}
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}