{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<ol class="tag breadcrumb">
    <li><a href="#">Stats</a></li>
</ol>


<canvas id="myChart"></canvas>
<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Users', 'Notes', 'Bookmarks', 'Your Notes', 'Your bookmarks'],
            datasets: [{
                label: '# of Votes',
                data: [
                    "{{all_users}}",
                    "{{all_notes}}",
                    "{{all_bookmarks}}",
                    "{{user_notes_count}}",
                    "{{user_bookmarks}}",
                ],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock %}